main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-size: 0;
}

main div div {
	border: 1px black solid;
}

.topRow div {
	display: inline-block;
}

.green, .blue {
	width: 48%;
	height: 200px;
}

.grey, .black, .orange {
	width: 33.33%;
	height: 300px;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}