nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: grey;
	padding-left: 60px;
	padding-right: 60px;
}

nav * {
	display: inline-block;
}

nav img {
	margin: 5px;
	border-radius: 50%;
	width: 50px;
	border: 1px black solid;
}

nav ul {
	position: relative;
	margin: 0;
	bottom: 25px;
}

nav ul li {
	border-right: 1px black solid;
	padding-right: 5px;
}

main {
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
}

.greenBox {
	width: 600px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	border: 10px green dotted;
}
